body {
  margin: 0;
  background: black;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* HUD */
#hud {
  position: fixed;
  top: 10px;
  width: 100%;
  color: white;
  font-size: 20px;
  z-index: 10;
  pointer-events: none;
}

/* Canvas */
canvas {
  background: black;
  display: block;
  margin: 60px auto 0 auto;
}

/* Game Over */
#gameOverScreen {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  color: white;
  padding-top: 35vh;
  font-size: 24px;
  z-index: 20;
}
