body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: Arial;
}

#hud {
  position: fixed;
  top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 22px;
  z-index: 10;
}

canvas {
  display: block;
  margin: auto;
  border: 4px solid white;
}
