body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: Arial;
}

#hud {
  position: fixed;
  top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 22px;
  z-index: 10;
}

canvas {
  display: block;
  margin: auto;
  border: 4px solid white;
}

#controls {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#controls button {
  font-size: 34px;
  padding: 25px;
  border-radius: 50%;
}
