body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
  overflow: hidden;
}

#startScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#startScreen button {
  padding: 15px 35px;
  font-size: 22px;
}

#hud {
  text-align: center;
  font-size: 22px;
  padding: 10px;
}

canvas {
  display: block;
  margin: auto;
  border: 4px solid white;
}

#controls {
  position: fixed;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#controls button {
  font-size: 30px;
  padding: 20px;
  border-radius: 50%;
}
