body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
  overflow: hidden;
}

#startScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#startScreen h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

#startScreen button {
  padding: 15px 35px;
  font-size: 22px;
  cursor: pointer;
}

#hud {
  text-align: center;
  font-size: 22px;
  padding: 10px;
}

canvas {
  display: block;
  background: #5c94fc;
  border: 4px solid white;
  margin: auto;
}
